# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py.class

# Data files
*.csv
*.json
*.joblib

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db
